* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  min-height: 100vh;
  background: #3498db;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: url("../img/Landing Page-Design-1280 copy.png"), #000 top left;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo img {
  max-width: 100%;
}

.wrapper {
  /* height: 265px;
  max-width: 410px; */
  width: 500px;
  max-width: 100%;
  background: #fff;
  border-radius: 7px;
  padding: 20px;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.wrapper img,
#qr-reader__dashboard_section_swaplink {
  /* display: none !important; */
}
/* img[alt="Info icon"],
#qr-reader__dashboard_section_swaplink {
  display: none !important;
} */

.wrapper .form {
  margin: 20px 0 25px;
}
#qr-reader {
  width: 100% !important;
  border-radius: 7px;
  padding: 20px !important;
}
button {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  background: #3498db;
  transition: all ease-in-out 0.3s;
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 10px 20px;
  font-weight: 100;
}
button:hover {
  box-shadow: 0px 0px 5px 0px #3f99d9;
}
/* .qr-code{
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;
}
.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
} */

.img_explanation {
  overflow: hidden;
}

.img_explanation img {
  border-radius: 7px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.r-gap {
  row-gap: 20px;
}
@media all and (max-width: 767px) {
  .img_explanation img {
    width: 100%;
    height: auto;
  }
}
